body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    margin: 0;
}

.main-grid {
  display: grid;
  /*display: flex;
  justify-content: center;*/
  grid-template-rows: auto auto auto;
  background-color: white;
  width: 100%;
  max-width: 75%;
}

.color-cadetblue {
  background-color: rgba(94, 158, 160, .75);
  color: white;
}

/*HEADER SECTION*/

header {
  height: 31rem;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header nav {
  display: grid;
  grid-template-columns: auto auto;
  height: auto;
  width: 85%;
  margin: 1rem 7.5% 0 7.5%;
  color: white;
}

header .logo {
    display: inline-flex;
    align-items: center;
}

header img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

header nav ul {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem 0;
  list-style-type: none;
}

header a {
  color: white;
  padding-right: 2rem;
  text-decoration: none;
}

header h2 {
  display: inline-flex;
  float: right;
  margin: 10rem 6.5% 0 0;
  background-color: rgba(255, 255, 255, .75);
  color: rgba(0, 0, 0, 0.75);
  padding: 1.5rem 3rem;
  font-weight: bold;
  font-size: 2rem;
}

/*GALLERY*/


.gallery {
  display: grid;
  grid-template-rows: 10rem auto;
}

.gallery .services {
  display: grid;
  grid-template-columns: auto auto auto;
  display: inline-flex;
  justify-content: center;
}

.gallery .service {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gallery img {
  max-height: 4rem;
}

.information {
  display: grid;
  grid-template-columns: auto auto;
  display: flex;
  justify-content: center;
}

.info {
  width: 35%;
  padding: 0 2.5% 4rem 2.5%;
}

.info h4 {
  width: 10rem;
  padding: .5rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
}

footer {
  height: 30rem;
  background-color: green;
}
